body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    margin-top: 30px;
    height: 50px;
}

.main-part {
    margin-top: 10px;
    min-height: 100vh-50px;
}

.container {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 10px;
}

.col-1 { grid-column: span 1; }
.col-2 { grid-column: span 2; }
.col-3 { grid-column: span 3; }
.col-6 { grid-column: span 6; }
.col-7 { grid-column: span 7; }
.col-8 { grid-column: span 8; }

#title-tag {
    display: flex;
    font-size: 35px;
    font-weight: bold;
    justify-content: center;
    text-decoration: none; 
    color: black;          
}

.login-btn {
    display: flex;
    justify-content: center;
    align-items: flex-end;  
    gap: 10px;
}

#login-tag,
#control-tag,
#tournament-ref,
#match-ref {
    font-size: 20px;
    font-weight: bold;
    text-decoration: none; 
    color: black;
    padding: 5px 15px; 
    border: 2px solid black;
    border-radius: 8px;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

#login-tag:hover,
#control-tag:hover,
#tournament-ref:hover,
#match-ref:hover {
    background-color: lightblue;
    color: white;
    transform: translateY(-2px);
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
}

#search-btn {
    background-color: #ffffff;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

#search-btn:hover {
    background-color: #5FCF65;
    color: white;
    transform: translateY(-2px);
}